<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Welcome</h1>
    <p ></p>
    <p th:if="${faculties == null || faculties.isEmpty()}">No faculty found</p>
    <p th:each="faculty : ${faculties}" th:text="${faculty}"></p>
    <p th:if="${students == null || students.isEmpty()}">No student found</p>
    <p th:each="student : ${students}" th:text="${student}"></p>
    <p th:if="${courses == null || courses.isEmpty()}">No courses available</p>
    <hr/>
    <p th:if="${result != null}" th:text=${result}></p>
    <!-- <p th:each="course : ${courses}" th:text="${course}"></p> -->
</body>
</html>